wp-content/themes/bookstore/node_modules
wp-content/themes/bookstore/dist
wp-content/themes/bookstore/.tmp
wp-content/themes/bookstore/bower_components
wp-content/themes/bookstore/test/bower_components
.idea
.htaccess
wp-config.php
