.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url( './../../images/home_bg.png' );
  background-size: cover;
  box-sizing: border-box;

  .search-form {
    position: absolute;
    width: 100%;
    max-width: 560px;
    height: 4.8rem;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translate(-50%, -50%);

    label {
      display: none;
    }

    .search {
      position: relative;
      display: block;
      width: calc(100% - 6.4rem);
      height: 100%;
      padding: 0 2.4rem;
      color: $TEXT_MAIN;
      outline: none;
      background: rgba($PRIMARY, .7);
      border: .2rem solid $PRIMARY;
      border-radius: 3.2rem;
      box-sizing: border-box;
      transition: .3s all ease-in-out;

      &::placeholder {
        color: $TEXT_MAIN;
      }

      &:hover,
      &:active,
      &:focus {
        outline: none;
        background: $PRIMARY;
      }

    }
    svg {
      width: 4.8rem;
      height: auto;
      cursor: pointer;
      opacity: .7;
      transition: .3s all ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  .filters {
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .bg-shape {
      position: absolute;
      bottom: 0;
      left: 50%;
      height: auto;
      min-height: 240px;
      min-width: 100%;
      transform: translateX(-50%);
    }

    .scroll-down {
      position: relative;
      opacity: 1;
      cursor: pointer;
      transition: .3s all ease-in-out;
      z-index: $LAYER_1;

      @include breakpoint($desktopLg) {
        margin-top: -8rem;
      }

      &:hover {
        opacity: .7;
      }
    }

    h3 {
      position: relative;
      width: 50%;
      color: $PRIMARY;
      font-weight: 600;
      text-align: center;
      z-index: $LAYER_1;

      @include breakpoint($desktopLg) {
        margin-top: -2.4rem;
      }
    }

    &-list {
      position: relative;
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 2.4rem;
      border-top: 3px solid $PRIMARY;
      justify-content: space-between;
      z-index: $LAYER_1;

      .filter {
        width: 64px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          padding-bottom: .8rem;
        }

        p {
          font-size: 1.4rem;
          color: $TEXT_DARK;
          transition: .3s all ease-in-out;
        }

        &:hover {

          p {
            color: $PRIMARY;
          }
        }
      }
    }

  }
}
