.comics {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('images/comic_example.png');
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(#7860C0, 1) 0%, rgba(#7860C0, 1) 2%, rgba(#7860C0, .9) 10%, rgba(#7860C0, .6) 35%, rgba(#A54C48,.5) 100%);
    z-index: $LAYER_1;
  }

  &-wrapper {
    position: relative;
    z-index: $LAYER_3;

    h2 {
      color: rgba($TEXT_MAIN, .7);
      span {
        color: rgba(#BEA4FF, .7);
        margin-left: -2.4rem;
      }
    }

    .content {
      width: 100%;
      display: flex;
      padding: 3.2rem;
      box-sizing: border-box;

      .excerpt,
      .details {
        width: 50%;
        padding: 1.6rem;
        box-sizing: border-box;
      }

      .excerpt {
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: $TEXT_MAIN;
      }

      .details {
        display: flex;
        justify-content: space-around;

        ul.products {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding-top: 3.2rem;
          li {
            position: relative;
            width: 320px;
            min-width: 248px;
            margin-bottom: 1.6rem;
            height: 340px;
            overflow: hidden;
            background-color: $TEXT_GREY;
            box-shadow: 0 0 2.4rem -.3rem $TEXT_DARK;
            .onsale {
              position: absolute;
            }
            .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
              height: 100%;
              color: $TEXT_MAIN;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 2rem;
              letter-spacing: normal;
              .image-wrapper {
                height: 50%;
                width: 100%;
                overflow: hidden;
                box-shadow: 0 2px 3px 0 rgba($TEXT_DARK, .3);
                img {
                  width: 100%;
                  height: auto;
                  margin-top: calc(-50% + 62px);
                }
              }
              .woocommerce-loop-product__title {
                color: $TEXT_MAIN;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 2rem;
                letter-spacing: normal;
              }
              .price {
                position: relative;
                padding-left: 3.2rem;
                font-size: 1.8rem;
                font-weight: 200;
                line-height: 1.8rem;
                &:before {
                  content: url('images/icn-pricetag_white.svg');
                  position: absolute;
                  top: -.4rem;
                  left: -.4rem;
                  width: 1.8rem;
                  height: 1.8rem;
                }
              }
            }
            .information-wrapper {
              position: relative;
              height: 50%;
              padding: 1.6rem 0.8rem 0.8rem;
              justify-content: space-between;
              flex-direction: column;
              display: flex;
              box-sizing: border-box;
              .add_to_cart_button {
                z-index: 40;
                box-sizing: border-box;
                padding: 8px 1.2rem;
                margin-top: 1.6rem;
                opacity: .7;
                background: $PRIMARY;
                color: $TEXT_DARK;
                font-weight: 800;
                font-size: 1.4rem;
                letter-spacing: .1rem;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                  opacity: 1;
                  }
              }
              .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 1.6rem;
    left: 50%;
    opacity: 1;
    cursor: pointer;
    transform: translateX( -50% );
    transition: .3s all ease-in-out;
    z-index: $LAYER_2;
  }

  .bg-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    min-height: 240px;
    min-width: 100%;
    max-width: 100%;
    z-index: $LAYER_2;
  }
}
