.comics {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('images/comic_example.png');
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(#7860C0, 1) 0%, rgba(#7860C0, 1) 2%, rgba(#7860C0, .9) 10%, rgba(#7860C0, .6) 35%, rgba(#A54C48,.5) 100%);
    z-index: $LAYER_1;
  }

  &-wrapper {
    position: relative;
    z-index: $LAYER_3;

    h2 {
      color: rgba($TEXT_MAIN, .7);
      span {
        color: rgba(#BEA4FF, .7);
        margin-left: -2.4rem;
      }
    }

    .content {
      width: 100%;
      display: flex;
      padding: 3.2rem;
      box-sizing: border-box;

      .excerpt,
      .details {
        width: 50%;
        padding: 1.6rem;
        box-sizing: border-box;
      }

      .excerpt {
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: $TEXT_MAIN;
      }

      .details {
        display: flex;
        justify-content: space-around;

        .card {
          position: relative;
          height: 360px;
          width: 400px;

          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;

          box-shadow: 0 0 16px 0 rgba( $TEXT_DARK, .3 );

          overflow: hidden;

          .header {
            width: 100%;
            height: 120px;
            background: $TEXT_DARK;
            overflow: hidden;

            img {
              width: 100%;
              margin-top: -3.2rem;
            }

          }
          .content {
            position: absolute;
            height: 60%;
            width: 102%;
            top: 50%;
            margin-left: 1%;
            transform: translateY( -50% );
            z-index: $LAYER_4;
            * {
              z-index: $LAYER_5;
            }

            .info-box {
              height: 100%;
              position: relative;
              padding: 4.8rem 1.2rem 0;
              box-sizing: border-box;

              h3 {
                padding-bottom: 2.4rem;
                color: $TEXT_GREY;
              }
              p {
                color: $TEXT_GREY;
              }
            }

            .icn-buy {
              padding: 0;
              position: absolute;
              left: 50%;
              top: 0;
              cursor: pointer;
              border: 5px solid rgba(#fff, 0);
              border-radius: 50%;
              transform: translate( -50%, 0 );
              transition: all .3s ease-in-out;
              z-index: 200;

              &:hover {
                border: 5px solid #fff;
              }
            }

            .bg-shape {
              position: absolute;
              height: auto;
              width: 102%;
              top: 0;
              z-index: $LAYER_4;
            }
          }
          .footer {
            position: relative;
            width: 100%;
            height: 30%;
            background: linear-gradient(to right, rgba(#8badd7,1) -20%,rgba(120,96,192,1) 140%);

            .taglist {
              padding: 7.2rem 1.6rem 0;
              li {
                color: $TEXT_MAIN;
                font-size: 1.2rem;
                text-transform: capitalize;

                &:before {
                  content: '>';
                  padding-right: .4rem;
                }
              }
            }

            .icn-wishlist {
              position: absolute;
              bottom: 1.2rem;
              right: 1.2rem;
            }
          }
        }
      }
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 1.6rem;
    left: 50%;
    opacity: 1;
    cursor: pointer;
    transform: translateX( -50% );
    transition: .3s all ease-in-out;
    z-index: $LAYER_2;
  }

  .bg-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    min-height: 240px;
    min-width: 100%;
    max-width: 100%;
    z-index: $LAYER_2;
  }
}
