.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url( 'images/home_bg.png' );
  background-size: cover;
  box-sizing: border-box;

  .search-form {
    position: absolute;
    width: 100%;
    max-width: 560px;
    height: 4.8rem;
    left: 50%;
    top: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    transform: translate(-50%, -50%);

      &:after,
      &:before {
        display: none;
      }
      label {
        display: none;
        span {
          display: none;
        }
      }

      input {
        position: relative;
        display: block;
        width: 100%;
        height: 3.2rem;
        padding: 0 2.4rem;
        color: $TEXT_MAIN;
        outline: none;
        background: rgba($PRIMARY, .7);
        border: .2rem solid $PRIMARY;
        border-radius: 3.2rem;
        box-sizing: border-box;
        transition: .3s all ease-in-out;

        &::placeholder {
          color: $TEXT_MAIN;
        }

        &:hover,
        &:active,
        &:focus {
          outline: none;
          background: $PRIMARY;
        }
      }

      .search-submit,
      button {
        position: relative;
        padding: 0.4rem;
        margin-top: 1.6rem;
        width: 240px;
        cursor: pointer;
        border: none;
        font-size: 1.2rem;
        font-weight: 800;
        text-transform: uppercase;
        color: $TEXT_MAIN;
        background-color: rgba($PRIMARY,.3);
        border: 2px solid $TEXT_MAIN;
        border-radius: 1.6rem;
        transition: all 0.3s ease-in-out;
        z-index: 200;
        &:hover {
          background-color: $PRIMARY;
          color: $TEXT_MAIN;
        }
      }

    .search {
      position: relative;
      display: block;
      width: calc(100% - 6.4rem);
      height: 100%;
      padding: 0 2.4rem;
      color: $TEXT_MAIN;
      outline: none;
      background: rgba($PRIMARY, .7);
      border: .2rem solid $PRIMARY;
      border-radius: 3.2rem;
      box-sizing: border-box;
      transition: .3s all ease-in-out;

      &::placeholder {
        color: $TEXT_MAIN;
      }

      &:hover,
      &:active,
      &:focus {
        outline: none;
        background: $PRIMARY;
      }

    }
    svg {
      width: 4.8rem;
      height: auto;
      cursor: pointer;
      opacity: .7;
      transition: .3s all ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  .filters {
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .bg-shape {
      position: absolute;
      bottom: -1px;
      left: 50%;
      height: auto;
      min-height: 240px;
      min-width: 100%;
      transform: translateX(-50%);
    }

    .scroll-down {
      position: relative;
      opacity: 1;
      cursor: pointer;
      transition: .3s all ease-in-out;
      z-index: $LAYER_1;

      @include breakpoint($desktopLg) {
        margin-top: -8rem;
      }

      &:hover {
        opacity: .7;
      }
    }

    h3 {
      position: relative;
      width: 50%;
      color: $PRIMARY;
      font-weight: 600;
      text-align: center;
      z-index: $LAYER_1;

      @include breakpoint($desktopLg) {
        margin-top: -2.4rem;
      }
    }

    &-list {
      position: relative;
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 2.4rem;
      border-top: 3px solid $PRIMARY;
      justify-content: space-between;
      z-index: $LAYER_1;

      .filter {
        width: 64px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          font-size: 1.4rem;
          line-height: 1.6rem;
          text-align: center;
          font-weight: 800;
          a {
            transition: .3s all ease-in-out;
            color: $TEXT_DARK;
          }
        }

        &:hover {

          p > a {
            color: $PRIMARY;
          }
        }
      }
    }

  }
}
